%div
  %div.search
    = form_tag(videos_path, method: :get) do
      = text_field_tag :search, nil, placeholder: 'Search Videos', class: 'seach_bar'
      = submit_tag 'Search', class: 'search_button'
  %ul.videos
    - @videos.each do |video|
      %li.name= video.name
      %li= filepicker_image_tag video.filepicker_url
      %li.desc
        = video.desc
        = link_to video.category

  %div.right_side_info
    %ul.right_ul
      %div.recent_div
        %p#recent_p Recent Videos
      - @recent_video.each do |recent|
        %span.recent_image= link_to(filepicker_image_tag(recent.filepicker_url), video_path(recent.id))
        %p.recent_info
          %span#recent_name= recent.name
          = recent.exerpt

    %ul.right_ul
      %div.recent_div
        %p#recent_p Recent News
