%div
  %p#your_cart Your Cart
  - current_user.cart.items.each do |item|
    %ul.cart
      %li= item.name
      %li.desc= item.desc
      %p.desc
        price:
        = item.price
      %p.quantity
        quantity:
        = item.quantity
      %div= filepicker_image_tag item.filepicker_url
