%div= link_to 'Create Product', new_product_path

%table
  - @products.each do |product|
    %td
      %li= link_to(filepicker_image_tag(product.filepicker_url), product_path(product.id))
      %li= product.name
      %li= product.desc
      %p= product.category
      %p= product.price
