= link_to 'Create Product', new_product_path
%div.categories
  %td=link_to 'Shoes'
  %td=link_to 'Shirts'
  %td=link_to 'Pants'
  %td=link_to 'Hats'
  %td=link_to 'Shorts'
  %td=link_to 'Socks'

%table
  - @products.each do |product|
    %td
      %li= link_to(filepicker_image_tag(product.filepicker_url), product_path(product.id))
      %li= product.name
      %li= product.desc
      %p= link_to product.category
      %p
        $
        = product.price
