%ul
  = form_for(@product) do |f|
    %li= f.label :name
    %li= f.text_field :name

    %li= f.label :desc
    %li= f.text_area :desc

    %li= f.label :category
    %li= f.text_field :category

    %li= f.label :price
    %li= f.number_field :price

    %li= f.label :Image
    %li= f.filepicker_field :filepicker_url

    %li= f.submit
