%h1 yo

%div.full_size
  %li= @product.name
  %li= filepicker_image_tag @product.filepicker_url
  %li= @product.desc
  %li
    $
    = @product.price
  %li= @product.category
  %li
    = form_tag add_to_cart_user_path(current_user) do
      = hidden_field_tag :product_id, @product.id
      = number_field_tag :quantity, 1,  min: 1, max: 10
      = submit_tag 'Add To Cart'
%div.review
  %p Leave a Review
  = form_for(@review) do |f|
    = hidden_field :product_id, @product.id
    = hidden_field :user_id, current_user.id
    %li= f.label :text
    %li= f.text_area :text

    %li= f.label :rating
    %li= f.number_field :rating, min: 1, max: 10
    %li= f.submit 'Leave Review'

%div.review_list
  Reviews
  - @product.reviews.each do |review|
    = review.text
    = review.rating
