%head
  %title BerricsFake
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = filepicker_js_include_tag
  = csrf_meta_tags
%body
  %h1 Berrics
  -if current_user.present?
    %span= link_to 'Sign Out', sign_out_path, method: :delete
  -else
    %span= link_to 'Sign In', log_in_path
  %div
    = link_to 'Feature', features_path
    -# = link_to 'News', news_path
    = link_to 'Store', products_path
  = yield
