%head
  %title BerricsFake
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  %h1 Berrics
  %div
    = link_to 'Feature', features_path
    -# = link_to 'News', news_path
    = link_to 'Store', products_path
  = yield
