%head
  %title BerricsFake
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = filepicker_js_include_tag
  = csrf_meta_tags
%body
  %h1 Berrics
  -if current_user.present?
    %span= link_to 'Sign Out', sign_out_path, method: :delete
    %span= link_to 'Create Video', new_video_path
  -else
    %span= link_to 'Sign In', log_in_path
  %div
    = link_to 'Videos', videos_path, class: 'header'
    = link_to 'Feature', features_path, class: 'header'
    = link_to 'Store', products_path, class: 'header'
    = link_to 'Cart', view_cart_path
    = text_field_tag :name
    = submit_tag 'Search', class: 'search_button'
  = yield
